# Copy this file to `.env` and set values.
# Base URL for the backend API (no trailing slash)
# Examples:
#   http://localhost:14005
#   http://yzorlmue0.blackhole.localtau:14005
# Dont include the forward slash after the route e.g /api


APP_API_BASE_URL=
